@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  background: url(./img/fon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.album-cover {
  width: 80%;
}

.slide-block {
  width: 100%;
  padding: 0 0 100px;
  display: flex;
  justify-content: space-around;
}

.slide {
  position: relative;
  aspect-ratio: 1/1;
  max-width: 200px;
  border-radius: 10px;
  display: flex;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  pointer-events: none;
  user-select: none;
}

.music-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(228, 228, 229, 1);
  width: 380px;
  padding: 10px 30px;
  border-radius: 20px;
}
.song-img-block {
  width: 90%;
}
.song-img-block img {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
}
.music-player h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.music-player p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

#progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: rgba(163, 162, 164, 0.4);
  border-radius: 4px;
  margin: 32px 0 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

#progress::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: rgba(163, 162, 164, 0.9);
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 4px solid rgba(228, 228, 229, 1);
  box-shadow: 0 6px 10px rgba(5, 36, 28, 0.3);
}

.controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  margin: 20px;
  background: rgba(163, 162, 164, 0.3);
  color: rgba(228, 228, 229, 1);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
  font-size: 1.1rem;
  box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
  cursor: pointer;
  transition: all 0.3s linear;
}

.controls button:is(:hover, :focus-visible) {
  transform: scale(0.96);
}

.controls button:nth-child(2) {
  transform: scale(1.3);
}

.controls button:nth-child(2):is(:hover, :focus-visible) {
  transform: scale(1.25);
}

.time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
